[Unit]
Description=Ethercalc Server
After=syslog.target network.target

[Service]
Type=simple
User={{ ethercalc_username }}
Group={{ ethercalc_group }}
ExecStart={{ ethercalc_app_dir }}/bin/ethercalc --expire {{ ethercalc_expire_files }}
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
